<div class="row">
    <div class="col-12">
        <h1><i class="fa-solid fa-list"></i> Lista de tareas</h1>
    </div>
</div>

<!-- Filters -->
<div class="row mt-3">
    <div class="col-12 col-sm-auto mb-2">
        <div class="d-grid">
            <div class="btn-group" role="group" aria-label="Filter task">
                <input type="radio" class="btn-check" (click)="filterTasks(eFilterTask.ALL)" name="taskfilter" id="all" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="all">Todas</label>
              
                <input type="radio" class="btn-check" (click)="filterTasks(eFilterTask.COMPLETE)" name="taskfilter" id="completed" autocomplete="off">
                <label class="btn btn-outline-primary" for="completed">Completadas</label>
              
                <input type="radio" class="btn-check" (click)="filterTasks(eFilterTask.PENDING)" name="taskfilter" id="pending" autocomplete="off">
                <label class="btn btn-outline-primary" for="pending">Pendientes</label>
            </div>
        </div>
    </div>
</div>

<!-- Loader -->
<div *ngIf="loading$ | async; else content" class="row mt-3">
    <div class="col-12 text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<!-- Task list -->
<ng-template #content>
    <div class="row mt-3">
        <div *ngIf="!existsTasks" class="col-12">
            <div class="alert alert-info" role="alert">
                Sin tareas encontradas.
            </div>
        </div>
    
        <div  *ngIf="existsTasks" class="col-12">
            <ng-container *ngFor="let task of tasks$ | async">
                <app-card-task [task]="task" (updateStatusEvent)="updateStatus($event)"></app-card-task>
            </ng-container>
        </div>
    </div>
</ng-template>
