<nav class="navbar navbar-dark bg-primary sticky-top">
    <div class="container">
        <h1 class="navbar-brand">
            <a class="navbar-brand" [routerLink]="['/']">
                <i class="fa-solid fa-list-check"></i>
            </a>
            <span class="d-none d-sm-inline-block">Administrador de tareas</span>
        </h1>

        <div class="d-flex">
            <div class="d-grid">
                <a [routerLink]="['/tasks/create']">
                    <button class="btn btn-sm btn-light d-inline-block btn-plus">
                        <i class="fa-solid fa-plus"></i> <span class="ml-2">Crea tarea</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
